@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: auto;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.todo-list {
  margin-top: 15px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
}

.todo-item-content {
  width: 100%;
  padding: 6px;
  padding-right: 0px;
  border: 1px solid;
  border-radius: 10px;
}

.todo-delete-btn {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(250, 69, 69);
  cursor: pointer;
  transition: all 0.25s ease-out;

  &:hover {
    background-color: rgb(247, 36, 36);
    border-radius: 0px;
  }
}
